/* google fonts cdn */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* shared style */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.primary-btn {
    border-radius: 41px;
    background-color: rgba(224, 44, 109, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
}

img {
    width: 100%;
}




/* header styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
}

.nav-menu {
    display: flex;
    gap: 34px;
}

.burger-menu {
    display: none;
}

.nav-item {
    list-style: none;
}

.nav-links {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: rgba(58, 58, 58, 1);
}

.nav-box {
    display: flex;
    gap: 34px;
    align-items: center;
}


/* herobox styles */
.herobox {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 69px;
}

.hero-content h1 {
    color: rgba(58, 58, 58, 1);
    font-size: 52px;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 16px;
}

.hero-content p {
    color: rgba(58, 58, 58, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 16px;
}

.hero-content {
    width: 40%;
}

.hero-img {
    width: 33%;
    background-image: url('./../images/Circle\ design.svg');
    background-repeat: no-repeat;
    min-height: 475px;
    background-position: center center;
    background-size: 100%;
}







/* responsive web design
 medium mobile or tablet device
*/
@media (max-width: 767.98px) {
    .burger-menu {
        display: block;
    }

    .nav-menu {
        display: none;
    }

    .herobox {
        flex-direction: column-reverse;
        gap: 24px;
        text-align: center;
    }

    .hero-content {
        width: 90%;
    }

    .hero-img {
        width: 90%;
  
    }

}